
<input type="text" [(ngModel)]="size">
<button (click)="createTable()">Create table</button>
<button (click)="createDefaultTable()">Create default table</button>
<p><small class="error">{{errorMessage}}</small></p>
<div *ngIf="tableCreated">
  <br/>
  <table>
    <tr>
      <!-- skip column row -->
      <th></th>
      <th *ngFor="let colName of startingTable.colNames"><span *ngFor="let colLetter of colName; let last = last">{{getNthChar(colLetter)}}<span *ngIf="!last">-</span></span></th>
    </tr>
    <tr *ngFor="let col of startingTable.table; let c=index">
      <!-- Name column -->
      <th><span *ngFor="let colLetter of startingTable.colNames[c]; let last = last">{{getNthChar(colLetter)}}<span *ngIf="!last">-</span></span></th>
      <!-- Distance columns -->
      <td *ngFor="let cell of col; let r=index">
        <div contenteditable *ngIf="r<c" (input)="updateCell($event.target, c, r)">{{cell}}</div>
        <div *ngIf="r>=c">{{cell}}</div>
      </td>
    </tr>
  </table>

  <br/>
  <button (click)="createTree()">Create tree</button>
</div>

<div *ngIf="treeCreated">
  <div class="result">Result:</div>
  <div *ngFor="let table of tree">
    <br/>
    <table>
      <tr>
        <!-- skip column row -->
        <th></th>
        <th *ngFor="let colName of table.colNames"><span *ngFor="let colLetter of colName; let last = last">{{getNthChar(colLetter)}}<span *ngIf="!last">-</span></span></th>
      </tr>
      <tr *ngFor="let col of table.table; let c=index">
        <!-- Name column -->
        <th><span *ngFor="let colLetter of table.colNames[c]; let last = last">{{getNthChar(colLetter)}}<span *ngIf="!last">-</span></span></th>
        <!-- Distance columns -->
        <td *ngFor="let cell of col; let r=index">
          <div>{{cell}}</div>
        </td>
      </tr>
    </table>
  </div>
  
</div>

<router-outlet></router-outlet>
